# Ports to use
CC_API_PORT=3900

# Comment this one out on devel servers, default is CC_API_PORT + 9
CC_GUI_PORT=443

# Public GUI hostname
CC_GUI_HOSTNAME=scm-test

# Public Hydra hostname, will use GUI hostname if not set
# CC_HYDRA_HOSTNAME=hostname.riverbed.cc

# CC ID. Check CoreSVC.
CC_ID=CC5D9DD88A356829

CC_CORESERVER=core-dns.cc

# Config flag to enable MongoDB as the tera backend.
CC_MONGODB=1

# MongoDB name to use
CC_MONGODB_NAME=tera

# CouchDB/Postgres database name to use
CC_DB_NAME=acme

# Redis database index
CC_REDIS_INDEX=0

# Analytics redis database index
CC_REDIS_ANALYTICS_INDEX=1

# PostgreSQL DB host and port
CC_DB_HOST=127.0.0.1
CC_DB_PORT=5432

#CC_SYSLOG_FACILITY=local0

# SSH connectback port base
CC_SSH_PORTBASE=61001

# Google Maps V3 API key
#CC_GMAP_API_KEY=AIzaSyBF07cpx4UDAzXqs9MACqncWeAupdBsCgE
CC_GMAP_API_KEY=AIzaSyDcISnoD17ll2DyXKmDmUWzqt1hm8jFxYw
# Performance option - how long to hold connections from
# nodes open
CC_LONGPOLLING_TIMEOUT=120

# Nubmer of mojo http processes
#CC_NUM_SERVERS=10

# URL to fetch pattern definitions from
#CC_PATTERNS_URL=https://s3.eu-central-1.amazonaws.com/riverbed-app-db/cc-servers/

CC_PATTERNS_URL=http://10.0.65.231/riverbed-app-db/cc-servers/
CC_FEAT_CONFIGAPI=1

# Optional. Remote syslog. Only used for development purposes.
#CC_RSYSLOG_IP=10.10.10.211
#CC_RSYSLOG_PORT=514

# Send notifications of coredumps
#CC_COREDUMP_RCPT=segfault@myaddress.example

# CC feedback mailbox
#CC_FEEDBACK_EMAIL=feedback@mydomain.example

# AWS credentials
#CC_AWS_ACCESS_KEY=AAA
#CC_AWS_SECRET_KEY=BBB

# AWS Account ID, default is 334539603291 if not set
#CC_AWS_ACCOUNT=334539603291

# S3 bucket configuration
#CC_S3_BUCKET_REGION=eu-central-1
#CC_S3_BUCKET=ocedo-cc
#CC_S3_BUCKET_PREFIX=$CC_ID/backup
#CC_S3_CMD_ARGS=""

# Interval after which to report long-living flows ([minutes], default: 15)
#CC_MAX_FLOW_REPORTING_INTERVAL=15

# Uncomment to disable routing_pod in CDL
#CC_FEAT_ROUTING_POD_DISABLED=1

# Uncoment to revert back to broken routes sorting (esp. for supernet-routing)
#CC_FEAT_BROKEN_SUPERNET_ROUTING=1

# Riverbed Support site where the SteelOS images are hosted
CC_SUPPORT_SITE_UNAME=steel_console
CC_SUPPORT_SITE_PWD=cIMOolU4Keok
CC_SUPPORT_SITE_URL=https://apiservices.riverbed.com

# Uncomment to enable experimental fix: Add lo as AutoVPN-device to blackhole P
#CC_FEAT_VPN_DOWN_BLACKHOLE=1

# CCStats reporting service. Enabled by default
CC_FEAT_CC_STATS=1

# Messaging server URL
#CC_MESSAGING_URL=
# Messaging server request certificate path
#CC_MESSAGING_CERT_PATH=

# Enable SCM system monitoring
CC_FEAT_MONITOR=0

# Enable analytics - CC_FEAT_MONITOR must also be set to 1
CC_FEAT_ANALYTICS=0

# Default analytics destination
CC_AVM_HOSTNAME=scm-telemetry.riverbed.cc

# Native DataDog agent within SCM container
#DATADOG_API_KEY=
#DATADOG_TAGS=riverbed_type:scm

# Enable SH compatibility
CC_FEAT_SH_COMPAT=1

# Enable catfish and panther
CC_FEAT_CATS=1
CC_FEAT_PANTHER_2=1
CC_FEAT_STEELOS_UPGRADES=1 

# Enable Catfish Version 3
CC_FEAT_CATFISH_3=0

#Changes for scalability
CC_SPLIT_CONTROL_PLANE=1

#Enable Central VPN
CC_FEAT_CENTRAL_VPN=1

# Enable rolling upgrades
CC_FEAT_ROLLING_UPGRADE=1

# Enable OSPF route discovery.
CC_FEAT_ROUTE_DISCOVERY_V1=1

# Disable by default
CC_FEAT_NO_DISCOVERY=1

# Enable topology rules
CC_FEAT_TOPO=0

# Enable unique uid generation
CC_UID_UNIQUE=0

# Enable OSPF configuration
CC_FEAT_OSPF=1

# Replay detection window size, 0 to disable
CC_CENTRAL_VPN_REPLAY_WINDOW_SIZE=0

# Show SCM UI Appliances Tools OSPF BGP in dropdown menu
CC_FEAT_SHOW_TOOL_ROUTING=0

# LPM
# Enable LPM by default
# This is not for the GW LPM feature, this is an older flag for panther cluster
CC_FEAT_LPM=1
# Enable LPM based ipsets by default
CC_FEAT_PREFIXED_IPSETS=1
# Enables longest prefix match routing on gateways
CC_GW_LPM_ROUTING=1

# Enable split datacenters
CC_SPLIT_DC=1

# Enables Transit routing
CC_DIRECT_ALTERNATE_TRANSIT=1

# Enables Panther to Panther tunneling
CC_PANTHER_TO_PANTHER_TUNNELS=1

# Test Flag. Enables Angular Sandbox menu and pages
CC_ANGULAR_SANDBOX=0

# New feature using new stack including Heat Map UI in Angular and Path Quality Statistics REST API
CC_FEAT_NEW_STACK=0

# Enable Google Maps throttling / caching by default
CC_FEAT_GMAP_LOC_THROTTLING=1

# Disable automatic failure of a tunnel when its uplink fails
CC_FEAT_NO_CASCADING_FAILURES=0

# Enable BGP Peer info display by default
CC_FEAT_BGP_PEER_INFO=1

# Disable the default behavior of learning incoming default routes with OSPF LAN
CC_FEAT_GW_FILTER_DEF_RT=1
# Catfish changes as part of SCM managed SH.
# Will include catfish bringup, current connection report etc.
#CC_FEAT_CATFISH_VISIBILITY=0

# Show SCM UI for Catfish/SteelHead integration
#CC_FEAT_CATFISH_WAN_OPT=0

# Maximum number of SaaS(Zak) that can be launched
SAAS_MAX_SPORT_SERIALS=50

# Maximum number of SCSH's(oreo) that can be launched
SCSH_MAX_COUNT=200

# ZAK SaaS Optimization
CC_FEAT_ZAK=0

# Enable Fail to Wire for Catfish
CC_FEAT_FAIL_TO_WIRE=0

# Enable Hardware offload in panther
CC_PANTHER_HARDWARE_OFFLOAD=6

# Max memory(RSS) threshold in MB for server processes.
# This applies for both node servers and gui servers.
# 0 means no limit.
CC_SERVER_MAX_MEM=1024

# Max memory(RSS) threshold in MB for worker processes.
# 0 means no limit.
CC_WORKER_MAX_MEM=1024

# Max memory(RSS) threshold in MB for hydra processes.
# 0 means no limit.
CC_HYDRA_MAX_MEM=5120

# Memory check interval (in seconds)
# Default is 300 seconds. The server/worker/hydra processes check their memory
# usage every 300 seconds.
CC_MEM_CHECK_INTERVAL=300

# Azure WAN support
CC_FEAT_AZURE_VPN=0
CC_FEAT_AZURE_VPN_INET_SUPPORT=0
CC_AZURE_VPN_REST_ENDPOINT_LOCATION=brazilus
CC_AZURE_VPN_SITE_LOCATION=centraluseuap

# Integration of Zscaler, a cloud proxy service
CC_FEAT_ZSCALER=1

# Integration of Cloudi-Fi, a cloud proxy service
CC_FEAT_CLOUDIFI=1

# HealthCheck reporting and monitoring
CC_FEAT_HEALTH_CHECK=1

# Password Policy Management
CC_FEAT_PWDMGMT=1

# When CVPN is enabled, if a config gen is triggered because of an uplink
# status/IP change, delay (in seconds) queuing node config job relative to
# the sdwc cdl job.
CC_CVPN_CONFIG_DELAY=20

# XMS Integration related variables
CC_XMS=1
CC_XMS_HOST=xcs.cloud.xirrus.com
CC_XMS_LOGIN_HOST=login.xirrus.com
CC_XMS_API_HOST=prod1-lb-api-32063211.cloud.xirrus.com
CC_XMS_CLIENT_ID=prod_client.scm
CC_XMS_CLIENT_SECRET=AuDQrrh2nYnF78Pv

#Azure Express Route Support
CC_FEAT_AZURE_EXPRESS_ROUTE=1

# MAC2PORTS Cleanup frequency
CC_MAC2PORTS_CLEANUP=3600

# Clear mac2port entries
CC_CLEAR_MAC2PORTS=0

# Show packet loss warning on specific config change
CC_FEAT_PCKTLOSS_WARNING=1

# RBAC feature
CC_FEAT_RBAC=1

# Postgres restore job count
CC_RESTORE_JOBCOUNT=2
# Number of workers for processing Node Statistics
CC_NUM_NODESTAT_WORKERS=6

# Syslog and Export to Appliance
CC_FEAT_SYSLOG=1

# SNMP Export to Appliance
CC_FEAT_SNMP=1
